@import "tailwindcss";
@import "../public/fonts/fonts.css";

/* Define tokens that become utilities like `font-heading` and `font-body` */
@theme {
    /* Fonts */
    --font-heading: "Cuprum", sans-serif;
    --font-body: "Sarabun", sans-serif;

    /* Colours */
    --color-primary: #7DC7F9;
    --color-secondary-light: #404856;
    --color-secondary: #2D333D;
    --color-alabaster: #F0F2FF;
    --color-night: #171515;

}

/* your base overrides */
@layer base {
    body {
        @apply font-body;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}