@font-face {
    font-family: 'Cuprum';
    src: url('./cuprum/cuprum-v28-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url('./cuprum/cuprum-v28-latin-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url('./cuprum/cuprum-v28-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url('./cuprum/cuprum-v28-latin-700italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('./barlow/barlow-v12-latin-200.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('./barlow/barlow-v12-latin-200italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('./barlow/barlow-v12-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Barlow';
    src: url('./barlow/barlow-v12-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}